<!DOCTYPE html>
<html>
    <head>
        <title> Registration form</title>
    </head>
    <body>
        <form method="POST" action="/submit">
            <center>
            <h1> Registration form</h1>
            Name: <input name="name" type="text">
            <br>
            Rollno: <input name="roll" type="text">
            <br>
            Email: <input name="email" type="email">
            <br>
            <input type="submit">
            </center>
        </form>
    </body>
</html>
